@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

body {
  margin: 0;
  padding: 0;
}
.bg-home-page {
  background-image: url("/hero-bg-image.svg");
  background-repeat: no-repeat;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  
}

@keyframes appear {
  from {
    opacity: 0;
    scale: 0.5;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}

.block-animation {
  animation: appear ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}


@keyframes appear-from-left {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.translate-left {
  animation: appear-from-left 3s ease-in;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
} 

@keyframes appear-from-right {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0%);
  }
}

.translate-right {
  animation: appear-from-right 3s linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
} 